@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: white;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

/* PANTALLA DE CARGA */
.carga-container {
  background-color: white;
  height: 10%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
  margin-top: 15%;
}
.carga {
  border: 10px solid black;
  border-top-color: darkcyan;
  border-top-style: solid;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.0s linear infinite;
  -o-animation: girar 1.0s linear infinite;
  animation: girar 1.0s linear infinite;
}
@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* PLACE HOLDER INPUTS */
::placeholder {
  color: whitesmoke;
}

/* GENERAL */
/* Navbar */
nav {
  display: flex;
  width: 100%;
  background-color: rgb(70, 70, 70);
  padding: 2.5rem 1rem;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
}
nav li {
  list-style: none;
}
nav button {
  padding: 0.1rem 0rem;
  background-color: transparent;
  border: transparent;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: 600;
}
nav button:hover {
  cursor: pointer;
}
nav button:focus {
  color: rgb(0, 177, 177);
}
.activo {
  color: rgb(0, 177, 177);
}
.iconoNav {
  padding-left: 0.4rem;
}
/* Contenedor general */
.container__general {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Empujo el footer abajo rellenando el contenedor cuando no se completa la pantalla.*/
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
/* Logo-titulo */
.titulo {
  display: flex;
  width: 100%;
  min-height: 25rem;
  align-items: center;
  overflow: hidden;
}
.tituloContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
}
.titulo__imagen {
  width: 25rem;
  height: 25rem;
}
/* Conenedor cotizaciones */
.cotizaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

/* ERROR MSJ */
.error__container {
  font-size: 1.7rem;
  margin-top: 4rem;
  background-color: rgb(184, 0, 0);
  padding: 1rem 1rem;
  border: 0.5rem solid rgb(184, 0, 0);
  border-radius: 0.8rem;
  color: white;
}

/* DOLAR */
.dolar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dolarArs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  width: 50%;
  margin-bottom: 1.5rem;
  padding: 1rem 0.3rem;
}
.tituloCaja {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.dataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  padding: 0.3rem 1.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  font-weight: 600;
}
.dataNombre {
  display: flex;
}
.compra-venta {
  display: flex;
  flex-direction: column;
}
.compra, .venta {
  display: flex;
  justify-content: right;
}
.botonCalculadoraContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonCalculadora {
  padding: 0.5rem 0.7rem;
  margin: 0.2rem 0.2rem;
  background-color: darkcyan;
  border: solid 0.1rem transparent;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.botonCalculadora:hover {
  cursor: pointer;
  background-color: rgba(0, 105, 82, 0.7);
}
.fechaData {
  padding: 0.5rem;
}

/* PARES */
.pares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dolarOtros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  width: 40%;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
} 

/* CRYPTO */
.cryptos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cryptoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 50%;
  border-radius: 1.5rem;
  padding: 0.8rem 0.5rem;
  margin-bottom: 1rem;
}
.cryptoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dataContainer img {
  width: 40px;
  height: 40px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-right: 5px;
}
.dataFijaCrypto {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.dataVariableCrypto {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

/* Calculadora */
.calculadoraContainerDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  padding: 1rem 0.5rem;
}
.selectButtonCalculadoraContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin: 0.8rem 0rem;
}
.inputCalculadoraContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 60%;
}
.inputCalculadoraContainer label {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  font-weight: 600;
}
.inputCalculadoraContainer input {
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  background: linear-gradient(to bottom right, darkCyan, darkslategray);
  border: transparent;
  padding: 0.7rem;
}
.containerCalculadoraDatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}
.iconoFlecha {
  padding: 0rem 0.4rem;
}

/* FOOTER */
footer {
  display: flex;
  width: 100%;
  background-color: rgb(70, 70, 70);
  padding: 2.5rem 1rem;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  font-size: 1.2rem;
}
.footer__link {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

/* MediaQuery para Css responsive  ---------------------------------------------------------------------------------*/ 
@media (max-width: 1180px) {
  .error__container {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .cryptoBox {
    width: 80%;
  }
}
@media (max-width: 750px) {
  /* Navbar */
  nav ul {
    justify-content: space-between;
  }
  nav button {
    font-size: small;
  }
  /* Dolar */
  .dolarArs {
    width: 90%;
  }
  /* Pares */
  .dolarOtros { 
    width: 90%;
  } 
  /* Crypto */
  .cryptoBox {
    width: 90%;
  }
  .fechaData {
    width: 80%;
  }
  /* Calculadora */
  .calculadoraContainerDisplay {
    width: 90%;
  }
  .selectButtonCalculadoraContainer {
    width: 65%;
  }
  .inputCalculadoraContainer {
    width: 75%;
  }
}
@media (max-width: 500px) {
  #nombreLargo {
    font-size: small;
    font-weight: 900;
  }
}
@media (max-width: 450px) {
  .cryptoBox {
    font-size: smaller;
  }
}

