.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: rgb(150,253,255);
  background: radial-gradient(circle, rgb(186, 254, 255) 0%, rgb(204, 226, 208) 100%);
}
/* BOTONES */
.botones button {
  background-color: rgb(250, 0, 0);
  color: azure;
  border: solid 1px rgb(250, 0, 0);
  border-radius: 10px;
  margin: 5px;
}

.botones button:hover {
  background-color: blue;
  cursor: pointer;
  border: solid 1px blue;
}

/* DOLAR */
#dolar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dolarArs {
  background: linear-gradient(0deg, rgb(67, 150, 240) 0%, rgba(70, 224, 134, 0.743) 100%);
  border-radius: 5px;
  width: 480px;
  margin-right: 5px;
  box-shadow: 3px 3px 3px 3px rgb(124, 105, 105);
}

#oficial {
  color: white;
}
#blue {
  color: white;
}
#tarjeta {
  color: white;
}
#bolsa {
  color: white;
}
#liqui {
  color: white;
}


 /* PARES */
 #pares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

#dolarOtros {
  background: rgb(109,255,67);
  background: linear-gradient(90deg, rgb(151, 252, 123) 0%, rgb(230, 166, 255) 57%, rgb(252, 73, 88) 100%);
  width: 450px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgb(7, 119, 113);
} 


/* CRYPTO */
#cryptos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cryptoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  width: 400px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgb(7, 119, 113);
}
#USDT {
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px rgb(1, 100, 31);
}

#BTC {
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px rgb(189, 186, 0);
}

#ETH {
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px rgb(99, 0, 156);
}

#ADA {
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px rgb(0, 23, 156);
}

#SOL {
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px rgb(0, 152, 199);
}

#MATIC {
  width: 350px;
  height: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px rgb(139, 0, 133);
}

/* MediaQuery para Css responsive  ---------------------------------------------------------------------------------*/ 
@media (max-width: 500px) {

  /* Dolar */
  #dolarArs {
    width: 80%;
  }

  /* Pares */
  #dolarOtros {
    width: 80%;
  } 

  /* Crypto */
  #cryptoBox {
    width: 80%;
  }
  #USDT {
    width: 80%;
  }
  #BTC {
    width: 80%;
  }
  #ETH {
    width: 80%;
  }
  #ADA {
    width: 80%;
  }
  #SOL {
    width: 80%;
  }
  #MATIC {
    width: 80%;
  }

}

