html {
  font-size: 10px;
  height: 100%;
}
body {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: gainsboro;
  height: 100%;
}
#root {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* PANTALLA DE CARGA */
.carga-container {
  background-color: gainsboro;
  height: 10%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
  margin-top: 15%;
}

.carga {
  border: 10px solid black;
  border-top-color: red;
  border-top-style: groove;
  height: 50px;
  width: 50px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  -webkit-animation: girar 1.0s linear infinite;
  -o-animation: girar 1.0s linear infinite;
  animation: girar 1.0s linear infinite;
}

@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* BOTONES */
.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.botonesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  padding: 0.5rem 0rem;
}
.buttonContainerIndividual {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-62 {
  background: linear-gradient(to bottom right, red, black);
  border: 0;
  border-radius: 1.8rem;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 60%;
  margin: 1rem;
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(252, 52, 52, 0.5), .125rem .125rem 1rem rgba(2, 2, 2, 0.5);
}
.button-62:active {
  outline: 0;
  transform: scale(0.95);
}

/* PLACE HOLDER INPUTS */
::placeholder {
  color: whitesmoke;
}

/* GENERAL */
.titulo {
  display: flex;
  width: 100%;
  min-height: 25rem;
  align-items: center;
  overflow: hidden;
  margin-bottom: 3rem;
}
.tituloContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
}
.titulo__imagen {
  width: 25rem;
  height: 25rem;
}
.cotizaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

/* DOLAR */
.dolar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dolarArs {
  background-color: whitesmoke;
  border-radius: 1.5rem;
  width: 40%;
  margin-right: 0.5rem;
  margin-bottom: 3rem;
}
.tituloCaja {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.dataNombre {
  display: flex;
  width: 50%;
}
.dataNombre p {
  margin-left: 15px;
}

.compra-venta {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.compra {
  display: flex;
  justify-content: right;
  margin-right: 15px;
}
.compra p {
  margin: 1px;
}

.venta {
  display: flex;
  justify-content: right;
  margin-right: 15px;
}
.venta p {
  margin: 1px;
}

.renglon hr {
  margin: 0px 15px;
}
.botonCalculadoraContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonCalculadoraContainer button {
  width: 30%;
}


 /* PARES */
 .pares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 }

.dolarOtros {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 35%;
  margin-right: 5px;
} 

.dataContainerPar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  color: rgb(0, 0, 82);
}

.dataNombrePar {
  display: flex;
  width: 30%;
}
.dataNombrePar p {
  margin-left: 15px;
}

.dataValor {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 70%;
}

.dataValor p {
  margin-right: 15px;
}

/* CRYPTO */
.cryptos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cryptoBox {
  background-color: whitesmoke;
  width: 35%;
  border-radius: 15px;
 
}

.cryptoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cryptoContainer img {
  width: 40px;
  height: 40px;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-left: 5px;
  margin-right: 5px;
}

.dataFijaCrypto {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 50%;
  margin-left: 5px;
}

.dataVariableCrypto {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 50%;
  margin-right: 20px;
}


/* Calculadora */
.calculadoraContainerDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: whitesmoke;
  border-radius: 15px;
}
.selectButtonCalculadoraContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputCalculadoraContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 50%;
}
.inputCalculadoraContainer label {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
.inputCalculadoraContainer input {
  width: 100%;
  margin-top: 3%;
  border-radius: 7px;
  color: white;
  background: linear-gradient(to bottom right, red, rgb(24, 24, 24));
  border: transparent;
  padding: 7px;
}
.containerCalculadoraDatos {
  margin-top: 5%;
  width: 100%;
}
#ultimoContainerDato {
  margin-bottom: 0.5%;
}


/* MediaQuery para Css responsive  ---------------------------------------------------------------------------------*/ 
@media (max-width: 1180px) {
  /* Pares */
  .dolarOtros {
    width: 40%;
  } 
}

@media (max-width: 1000px) {
  .cryptoBox {
    width: 80%;
  }
}

@media (max-width: 750px) {

  /* Botones */
  .botones {
    width: 80%;
  }
  .botonesContainer {
    flex-direction: column;
  }
  .button-62 {
    width: 50%;
  }

  /* Dolar */
  .dolarArs {
    width: 80%;
  }
  .botonCalculadoraContainer button {
    width: 50%;
  }

  /* Pares */
  .dolarOtros {
    width: 90%;
  } 

  /* Crypto */
  .cryptoBox {
    width: 90%;
  }
  #MATIC {
    margin-bottom: 0.5%;
  }

  /* Calculadora */
  .calculadoraContainerDisplay {
    width: 90%;
  }
  .selectButtonCalculadoraContainer button{
    width: 50%;
  }
}

@media (max-width: 520px) {
  .dataNombrePar {
    width: 30%
  }
  .dataValor {
    width: 70%
  }
}

@media (max-width: 500px) {
  #nombreLargo {
    font-size: small;
    font-weight: 900;
  }
}

@media (max-width: 450px) {
  .cryptoContainer {
    font-size: small;
  }
}

@media (max-width: 370px) {
  .dataNombrePar {
    width: 20%
  }
  .dataValor {
    width: 80%
  }
}

